/* Reio - https://coolors.co/bfbdc1-6d6a75-37323e-ffcf3e-eecb62 */

/* CSS HEX */
--french-gray: #bfbdc1ff;
--dim-gray: #6d6a75ff;
--raisin-black: #37323eff;
--sunglow: #ffcf3eff;
--naples-yellow: #eecb62ff;

/* CSS HSL */
--french-gray: hsla(270, 3%, 75%, 1);
--dim-gray: hsla(256, 5%, 44%, 1);
--raisin-black: hsla(265, 11%, 22%, 1);
--sunglow: hsla(45, 100%, 62%, 1);
--naples-yellow: hsla(45, 80%, 66%, 1);

/* SCSS HEX */
$french-gray: #bfbdc1ff;
$dim-gray: #6d6a75ff;
$raisin-black: #37323eff;
$sunglow: #ffcf3eff;
$naples-yellow: #eecb62ff;

/* SCSS HSL */
$french-gray: hsla(270, 3%, 75%, 1);
$dim-gray: hsla(256, 5%, 44%, 1);
$raisin-black: hsla(265, 11%, 22%, 1);
$sunglow: hsla(45, 100%, 62%, 1);
$naples-yellow: hsla(45, 80%, 66%, 1);

/* SCSS RGB */
$french-gray: rgba(191, 189, 193, 1);
$dim-gray: rgba(109, 106, 117, 1);
$raisin-black: rgba(55, 50, 62, 1);
$sunglow: rgba(255, 207, 62, 1);
$naples-yellow: rgba(238, 203, 98, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-right: linear-gradient(90deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-bottom: linear-gradient(180deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-left: linear-gradient(270deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-top-right: linear-gradient(45deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-bottom-right: linear-gradient(135deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-top-left: linear-gradient(225deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-bottom-left: linear-gradient(315deg, #bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
$gradient-radial: radial-gradient(#bfbdc1ff, #6d6a75ff, #37323eff, #ffcf3eff, #eecb62ff);
