:root {
    --gradient-1: linear-gradient(90deg,
    var(--color-shadow) 10%,
    var(--color-shadow) 15%,
    var(--color-background) 15%,
    var(--color-background) 85%,
    var(--color-shadow) 85%,
    var(--color-shadow) 90%);

    --gradient-2: linear-gradient(180deg,
    var(--color-text) 50%,
    var(--color-accent-background) 50%);

    --gradient-3: linear-gradient(0deg,
    var(--color-text) 50%,
    var(--color-accent-background) 50%);

    --gradient-4: linear-gradient(180deg,
    var(--color-accent-background) 50%,
    var(--color-accent-text) 50%);

    --gradient-5: linear-gradient(0deg,
    var(--color-accent-background) 50%,
    var(--color-accent-text) 50%);

    --color-text: rgba(191,189,193,1);
    --color-accent-text: rgba(238,203,98,1);
    --color-accent-optional: rgba(238,203,98,0.5);
    --color-accent: rgba(255,207,62,1);
    --color-accent-background: rgba(109,106,117,1);
    --color-background: rgba(55,50,62,1);
    --color-shadow: rgba(49,45,56,1);

    --box-shadow-1: var(--padding-1) var(--padding-1) 0 0 var(--color-shadow);;
    --margin-1: 10px 20px 0 20px;
    --margin-top-1: 50px;
    --padding-1: 10px;
    --grid-width-1: 55%;
    --grid-width-2: 10%;
    --grid-gap-1: 10px;
    --font-size-1: 140%;
    --border-1: 4px solid #37323e;

    --font-size-2: 120%;
    --padding-2: 15px;
    --box-shadow-2: 0 3px 0 0 var(--color-shadow);

    --padding-3: 5px;
    --box-shadow-3: 0 3px 0 0 var(--color-accent);
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.3;
    background: var(--gradient-1);
    color: var(--color-text);
    font-size: 120%;
}

@media only screen and (max-width: 700px) {
    body {
        background: var(--color-background);
    }

    :root {
        --margin-1: 5px 15px 0 15px;
        --grid-width-1: 100%;
        --grid-width-2: 10%;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --padding-1: 5px;
        --grid-gap-1: 5px;
        --grid-width-2: 20%;
    }
}
